<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="{staticurl}images/brand.png" type="image/png" />
		<meta name="robots" content="index, nofollow" />
		<script type="text/javascript" src="{staticurl}js/mercurial.js"></script>
		<link rel="stylesheet" type="text/css" href="{staticurl}css/styles.css"/>